<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'web/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'web/css/index.css' %}" type="text/css">
</head>
{#<body>#}


{#<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>#}
{#<script src="{% static 'web/js/bootstrap.min.js' %}"></script>#}
{#</body>#}
</html>